@tailwind base;
@tailwind components;
@tailwind utilities;




.searchIput input{
    width: 93%;
    background-color: rgb(240 252 255);
}
.searchIput input::after{
    border: none;
}
a{
  color: #5853dd;
}
a:hover{
  color: #0800fa;
}
.image1 img{

  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
p{
  color: rgb(39, 39, 39);
  font-weight: 500;
  font-size: 1.2rem;
}
h1,h2,h3,h4,h5,h6{
     color: #6851ff;
     /* margin-top: 4px; */
}
h1{
  font-size: 3rem;
  font-weight: 790;
}
h2{
  font-size: 2.5rem;
  font-weight: 700;
}
h3{
  font-size: 1.5rem;
  font-weight: 600;
}
h4{
  font-size: 1.1rem;
  font-weight: 600;
}

.btn{
  padding: 1px 12px;
  height: 35px ;
  border:solid 1px rgba(104, 81, 255, 0.5);
  border-radius: 8px;
  color: #5853dd;
  font-weight: 700;
}

.section1{
  background: linear-gradient(to top, rgb(240 238 255), rgb(255 255 255));
  
}
.mainbtn{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.card1{
   padding: 8px 30px;
   margin: 10px;
   border: 1px solid  rgba(255, 255, 255, 1);
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 24px;
   height: 270px;
   width: 290px;
   background: linear-gradient(to bottom, rgb(237 235 255), rgb(255 255 255));
}